In [ ]:
Q1. Create one variable containing following type of data:

In [ ]:
s="Pankaj Dubey"

In [ ]:
type(s)

str

In [ ]:
l=[496,"my tutorial",194.24,True,4+6j]

In [ ]:
type(l)

list

In [ ]:
n=456.54

In [ ]:
type(n)

float

In [ ]:
l[-1]

(4+6j)

In [ ]:
l[1]

'my tutorial'

In [ ]:
l[2]

194.24

In [ ]:
#Q2. Given are some following variables containing data:

In [ ]:
var1='Pankaj Dubey'

In [ ]:
var1

'Pankaj Dubey'

In [ ]:
type(var1)

str

In [ ]:
var2='[Suraj,77,Raju,43.1]'

In [ ]:
var2

'[Suraj,77,Raju,43.1]'

In [ ]:
type(var2)

str

In [ ]:
var3=['My homework','Your homework','Our homework']

In [ ]:
var3

['My homework', 'Your homework', 'Our homework']

In [ ]:
type(var3)

list

In [ ]:
var4=[122,'Pankaj',45.221]

In [ ]:
#What will be the data type of the above given variable

In [ ]:
type(var4)

list

In [ ]:
var4

[122, 'Pankaj', 45.221]

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [ ]:
4/4

1.0

In [ ]:
4/5

0.8

In [ ]:
5/4

1.25

In [ ]:
5/100

0.05

In [ ]:
6 // 5

1

In [ ]:
#power operator

In [ ]:
2**4

16

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:
m=[9,5,3,"LooPig list","Skillset",True]

In [ ]:
m

[9, 5, 3, 'Looig list', 'Skillset', True]

In [8]:
l=[9,5,3,1,-7,-14,"Looiglist","Skillset",True,51.2,"Dev"]

In [11]:
for t in l :
   print (type(t))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>

In [13]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [6]:
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))
count = 0
while a % b == 0:
    count += 1
    a = a / b

if count > 0:
    print(f"{a} is divisible by {b} {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

Enter number A:  50
Enter number B:  5

2.0 is divisible by 5 2 times.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [7]:
my_list = [2,5,9,12,13,15,17,20,21,22,23,29,49,53,52,56,68,72,90,99,102,104,108,111,126]

for num in my_list:
    
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

2 is not divisible by 3
5 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
13 is not divisible by 3
15 is divisible by 3
17 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
29 is not divisible by 3
49 is not divisible by 3
53 is not divisible by 3
52 is not divisible by 3
56 is not divisible by 3
68 is not divisible by 3
72 is divisible by 3
90 is divisible by 3
99 is divisible by 3
102 is divisible by 3
104 is not divisible by 3
108 is divisible by 3
111 is divisible by 3
126 is divisible by 3

In [13]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
#Immutable object

In [11]:
a =(49)
b=("assignment")
c=(47.9)

In [12]:
b[0]="A"

TypeError: 'str' object does not support item assignment

In [14]:
#Mutable object

In [22]:
d =[49]
e=["assignment"]
f=[47.9]

In [23]:
e[0]="Assignment"

In [24]:
e

['Assignment']